kube-apiserver-arg:
- "oidc-issuer-url=https://authentik.infra.{{ dns_domain }}/application/o/kube-apiserver/"
- "oidc-client-id=kube-apiserver"
- "oidc-username-claim=email,profile"
- "oidc-groups-claim=groups"
kube-controller-manager-arg:
- "bind-address=0.0.0.0"
- "node-cidr-mask-size=22"
kube-scheduler-arg:
- "bind-address=0.0.0.0"
kubelet-arg:
- "max-pods=500"
etcd-expose-metrics: true
flannel-iface: "{{ cluster_nic }}"
flannel-backend: none
disable-network-policy: true
disable-kube-proxy: true
cluster-init: true
disable: 
- "traefik"
- "servicelb"
- "local-storage"
node-taint:
  - node-role.kubernetes.io/control-plane=true:NoSchedule
tls-san: 
  - "{{ cluster_nic_class_c }}.{{ ansible_host.split(".")[3] }}"
  - "{{ k8s_ha_api_ip }}"
