resource "proxmox_vm_qemu" "{{ inventory_hostname_short }}" {
    name = "{{ inventory_hostname_short }}"
    target_node = "{{ proxmox_node }}"
    clone = "template-elfhosted-{{ proxmox_node }}"
    os_type = "cloud-init"
    ipconfig0 = "ip={{ ansible_host }}/24,gw={{ proxmox_vlan_gateway }}"  
    ipconfig1 = "ip={{ cluster_nic_class_c }}.{{ ansible_host.split(".")[3] }}/24"
    nameserver = "1.1.1.1"  
    memory = {{ proxmox_vm_ram }}
    cores = 8
    ciuser = "{{ admin_ssh_user }}"
    vmid = "{{ proxmox_id }}"
    sshkeys = <<EOF
{{ admin_ssh_key }}
EOF
    network {
{% if proxmox_vm_vlan_tag is defined %}        
        tag = {{ proxmox_vm_vlan_tag }}
{% endif %}
        model = "virtio"
        bridge = "{{ proxmox_vm_network_bridge }}"
        macaddr = "{{ mac }}"
    }
    network {
        tag = 11
        model = "virtio"
        bridge = "vmbr0"
    }    
    disk {
        storage = "{{ proxmox_storage }}"
        size = "{{ proxmox_vm_disk0_size }}"
        type = "scsi"
    }
    disk {
        storage = "{{ proxmox_nfs_storage }}"
        size = "{{ proxmox_vm_topolvm_disk_size }}"
        type = "scsi"
    }    
}

