apiVersion: v1
kind: ConfigMap
metadata:
  name: elf-cleaner
  namespace: elf-cleaner
data:
  elf-cleaner.sh: |
    #!/bin/bash

    # Debug logs
    # set -x

    set -o pipefail

    # Set timestamp
    TIMESTAMP_NOW=$(date +%s)

    NAMESPACES=$(kubectl get ns --no-headers=true | grep aa | grep -v fnky | cut -f1 -d" ")
    for NS in ${NAMESPACES}
    do

      # Delete any orphaned deployments / needs automated label updates first
      # VERSION=$(kubectl get helmreleases.helm.toolkit.fluxcd.io -n $NS -o json | jq -r .items[0].status.lastAttemptedRevision)
	    # echo "helmrelease current version is [$VERSION], deleting any unrelated deployments..."
	    # kubectl delete deployments.apps -n $NS -l myprecious.elfhosted.com/version!=$VERSION,app.kubernetes.io/name!=kubernetesdashboard,app!=mattermost

      # Get a list of all customer PVCs excluding tmp (because it's ephemeral)
      PVCS=$(kubectl get pvc -n $NS --no-headers=true | grep -v tmp | cut -f1 -d' ')
            
      for PVC in ${PVCS}
      do
        # Is PVC currently bound

        if (kubectl describe pvc -n ${NS} ${PVC} | grep -q 'Used By:       <none>'); then

          kubectl label pvc -n $NS $PVC elfhosted.com/currently-unbound=true --overwrite
              
          # if not, then does the PVC already have a timestamp?
          if (kubectl describe pvc -n $NS $PVC | grep -q elfhosted.com/unused-since); then

            # if yes, and it's older than 31 days, then label for deletion
            TIMESTAMP_PVC=$(kubectl describe pvc -n $NS $PVC | grep elfhosted.com/unused-since | awk '{split($0,a); print a[3]}')
            TIMESTAMP_DIFF=$((TIMESTAMP_NOW-TIMESTAMP_PVC))
            if [[ $TIMESTAMP_DIFF -gt 2764800 ]]; then # 2764800 sec = 32 days

              echo "PVC $PVC in namespace $NS has been unused for > 31 days, flagging for removal it.."
              kubectl label pvc -n $NS $PVC elfhosted.com/unbound-and-older-than-32d=true --overwrite

              kubectl delete pvc -n $NS $PVC

            elif [[ $TIMESTAMP_DIFF -gt 691200 ]]; then # 691200 sec = 8 days

              echo "PVC $PVC in namespace $NS has been unused for > 8 days, flagging for removal it.."
              kubectl label pvc -n $NS $PVC elfhosted.com/unbound-and-older-than-8d=true --overwrite

              if ! (echo $PVC | grep -q elfstorage); then
                kubectl delete pvc -n $NS $PVC # allow elfstorage to persist up to 32d
              fi
            else
              echo "Found annotated, unused PVC $PVC in NS $NS, but it's less than 8d old, so ignoring"
            fi
          else
            # label for cleanup in 3 days
            echo "Found unused PVC $PVC in NS $NS, recording when it first became unused"
            kubectl annotate pvc -n $NS $PVC elfhosted.com/unused-since=$TIMESTAMP_NOW
          fi
        else
          echo "Volume is mounted, remove any existing annotations / labels"
          kubectl annotate pvc -n $NS $PVC elfhosted.com/unused-since- --overwrite
          kubectl label pvc -n $NS $PVC elfhosted.com/currently-unbound- --overwrite
          kubectl label pvc -n $NS $PVC elfhosted.com/unbound-and-older-than-32d- --overwrite
          kubectl label pvc -n $NS $PVC elfhosted.com/unbound-and-older-than-8d- --overwrite
        fi
      done
    done    
    