apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ provider.host }}
  namespace: authentik
spec:
  ingressClassName: nginx
  rules:
  - host: {{ provider.host }}
    http:
      paths:
      - backend:
          service:
            name: authentik
            port:
              name: http
        path: /
        pathType: Prefix