[defaults]
stdout_callback=debug
stderr_callback=debug
host_key_checking = False
vault_identity_list = elfhosted-ci@~/.ansible/vault-password-elfhosted-ci,elfhosted@~/.ansible/vault-password-elfhosted

[ssh_connection]
pipelining=true
control_path = ~/.ssh/ansible-%%r@%%h:%%p
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null

[paramiko_connection]
record_host_keys = False
