apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-vars
  namespace: flux-system
  annotations:
    replicator.v1.mittwald.de/replicate-to: "*"
data:
  dns_domain: elfhosted.com
  tailscale_suffix: elfhosted-com
  cluster_nic_class_c: 10.0.42
  nginx_ingress_ip: 10.0.42.101
  traefik_ingress_dns_ip: 142.132.247.26
  k3s_server_endpoint_1: 10.0.42.11
  k3s_server_endpoint_2: 10.0.42.12
  k3s_server_endpoint_3: 10.0.42.13
  k8s_ha_api_ip: 10.0.40.4
  k8s_ha_api_port: "6443"
  prometheus_retentionsize: '500GB'
  prometheus_retention: "40d"   # enough to chart a month's progress with some headroom
  prometheus_pvc_storage: 500Gi
  minio_storage: '500Gi'
  thanos_storage: '50Gi'
  proxy_wildcard_dns: "true"
  dashboard_background: production.jpg  
  hetzner_auction_hunter_cron: 0 * * * * # run hourly
  k3s_version: v1.31.5+k3s1
  pod_cidr_v4: 10.2.0.0/15
  service_cidr_v4: 10.43.0.0/16 # this is also the k3s default
  pod_cidr_v6: fd00::/104
  ha_replica_count: "2" # for ha-enabled deployments like topolvm
  storageclass_rwx_name: ceph-filesystem-ssd
  storageclass_rwx_accessMode: ReadWriteMany
  storageclass_rwx_volumeSnapshotClassName: ceph-filesystem
  storageclass_rwo_name: ceph-block-ssd
  storageclass_rwo_accessMode: ReadWriteOnce  
  storageclass_rwo_volumeSnapshotClassName: ceph-block
  cilium_hubble_enabled: "true"

  # These apportion semi-dedicated resources across the node types
  hobbit_zurg_cpu_requests: 1800m
  ranger_zurg_cpu_requests: 3600m
  halfling_zurg_cpu_requests: 7200m
  nazgul_zurg_cpu_requests: 10800m
  hobbit_cpu_requests: 1800m
  ranger_cpu_requests: 3600m
  halfling_cpu_requests: 7200m
  nazgul_cpu_requests: 10800m  

  # these provide sane limits for the streamers
  hobbit_streamer_cpu_limits: "2"
  hobbit_streamer_ram_limits: "6Gi"
  ranger_streamer_cpu_limits: "4"
  ranger_streamer_ram_limits: "8Gi"
  halfling_streamer_cpu_limits: "6"
  halfling_streamer_ram_limits: "16Gi"
  nazgul_streamer_cpu_limits: "14"
  nazgul_streamer_ram_limits: "32Gi"  

# And for riven, which can be a CPU/RAM hog
  hobbit_riven_cpu_limits: "2"
  hobbit_riven_ram_limits: "4Gi"
  hobbit_riven_database_cpu_limits: "1"
  hobbit_riven_database_ram_limits: "1Gi"  

  ranger_riven_cpu_limits: "2"
  ranger_riven_ram_limits: "8Gi"
  ranger_riven_database_cpu_limits: "1"
  ranger_riven_database_ram_limits: "8Gi"    

  halfling_riven_cpu_limits: "2"
  halfling_riven_ram_limits: "16Gi"
  halfling_riven_database_cpu_limits: "1"
  halfling_riven_database_ram_limits: "16Gi"    

  nazgul_riven_cpu_limits: "4"
  nazgul_riven_ram_limits: "32Gi"
  nazgul_riven_database_cpu_limits: "2"
  nazgul_riven_database_ram_limits: "32Gi"        