apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ _cluster_ca_cert_contents }}
    server: https://{{ k8s_ha_api_ip }}:{{ k8s_ha_api_port }} 
  name: {{ dns_domain }}-oidc
contexts:
- context:
    cluster: {{ dns_domain }}-oidc
    namespace: default
    user: oidc-user-{{ dns_domain }}
  name: {{ dns_domain }}-oidc
current-context: {{ dns_domain }}-oidc
kind: Config
preferences: {}
users:
- name: oidc-user-{{ dns_domain }}
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      command: kubectl
      args:
      - oidc-login
      - get-token
      - --oidc-issuer-url=https://authentik.infra.{{ dns_domain }}/application/o/kube-apiserver/
      - --oidc-client-id=kube-apiserver
      - --oidc-client-secret={{ authentik_secret_kube_apiserver }}
      - --oidc-extra-scope=email,profile