apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-vars
  namespace: flux-system
data:
  dns_domain: elfhosted.us
  cluster_nic_class_c: 192.168.41
  nginx_ingress_ip: 100.93.110.91 # yankee01 via tailscale
  traefik_ingress_dns_ip: 66.23.193.248 # yankee01, for now
  k3s_server_endpoint_1: 192.168.41.11
  k3s_server_endpoint_2: 192.168.41.12
  k3s_server_endpoint_3: 192.168.41.13
  k8s_ha_api_ip: 100.93.110.91 # yankee01, for now
  k8s_ha_api_port: "6443"  
  prometheus_retentionsize: '5GB'
  prometheus_retention: "4d"   # enough to chart a month's progress with some headroom
  prometheus_pvc_storage: 6Gi
  minio_storage: '100Gi'
  rook_ceph_osd_ram: 2Gi
  rook_ceph_mds_ram: 1Gi
  ceph_ec_data_chunks: "1"
  ceph_ec_coding_chunks: "1"
  dashboard_background: development.jpg
  k3s_version: v1.28.4+k3s2
  pod_cidr_v4: 10.6.0.0/15
  service_cidr_v4: 10.45.0.0/16
  pod_cidr_v6: fd02::/104  
  ha_replica_count: "1" # for ha-enabled deployments like topolvm - we only have 1 node currently
  storageclass_rwx_name: topolvm-provisioner-thin
  storageclass_rwx_accessMode: ReadWriteOnce
  storageclass_rwo_name: topolvm-provisioner-thin
  storageclass_rwo_accessMode: ReadWriteOnce
