apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: rate-limit-public-stremio-addon
  namespace: traefik
spec:
  rateLimit:
    average: 10    # 10 requests per source IP every ..
    period: 10m    # This is a per-node limit, and we have > 4 nodes (x), randomly load-balanced, so it's effectively 1/min * (x) = at least 4 requests/min
    burst: 10      # Allow 10 requests in the period to start off with, before rate-limiting kicks in
    sourceCriterion:
      requestHeaderName: CF-Connecting-IP # Rate-limit by cloudflare connecting IP