apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: grafana
  namespace: kube-prometheus-stack
spec:
  instances: 3

  # Example of rolling update strategy:
  # - unsupervised: automated update of the primary once all
  #                 replicas have been upgraded (default)
  # - supervised: requires manual supervision to perform
  #               the switchover of the primary
  primaryUpdateStrategy: unsupervised

  # Persistent storage configuration
  storage:
    storageClass: ceph-block-ssd
    size: 30Gi

  monitoring:
    enablePodMonitor: true
                
  superuserSecret:
      name: cnpg-postgres-credentials

  # bootstrap:
  #   initdb:
  #     database: grafana
  #     owner: grafana
  #     secret:
  #       name: app-secret

  bootstrap:
      recovery:
        volumeSnapshots:
          storage:
            name: velero-grafana-1-5j6sc
            kind: VolumeSnapshot
            apiGroup: snapshot.storage.k8s.io
            
  backup:
      # Volume snapshot backups
      volumeSnapshot:
        className: ceph-block
      # WAL archive
      barmanObjectStore:        
        destinationPath: s3://cnpg/
        endpointURL: "http://minio.minio:9000"
        s3Credentials:
          accessKeyId:
            name: cnpg-minio-credentials
            key: ACCESS_KEY_ID
          secretAccessKey:
            name: cnpg-minio-credentials
            key: ACCESS_SECRET_KEY
        wal:
          compression: gzip
          maxParallel: 2      