apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-vars
  namespace: flux-system
  # annotations:
  #   replicator.v1.mittwald.de/replicate-to: "*"
data:
  dns_domain: ci-elfhosted.com
  cluster_nic_class_c: 192.168.41
  nginx_ingress_ip: 192.168.41.100
  traefik_ingress_dns_ip: 192.168.41.101
  k3s_server_endpoint_1: 192.168.41.11
  k3s_server_endpoint_2: 192.168.41.12
  k3s_server_endpoint_3: 192.168.41.13
  k8s_ha_api_ip: 192.168.40.4
  k8s_ha_api_port: "8443"  
  prometheus_retentionsize: '5GB'
  prometheus_retention: "4d"   # enough to chart a month's progress with some headroom
  prometheus_pvc_storage: 6Gi
  minio_storage: '100Gi'
  rook_ceph_osd_ram: 2Gi
  rook_ceph_mds_ram: 1Gi
  ceph_ec_data_chunks: "1"
  ceph_ec_coding_chunks: "1"
  dashboard_background: development.jpg
  hetzner_auction_hunter_cron: 0 0 31 2 * # don't automatically run
  k3s_version: v1.28.4+k3s2
  pod_cidr_v4: 10.4.0.0/15
  service_cidr_v4: 10.44.0.0/16 # this is also the k3s default
  pod_cidr_v6: fd01::/104  
  ha_replica_count: "2" # for ha-enabled deployments like topolvm
  storageclass_rwx_name: ceph-filesystem-ssd
  storageclass_rwx_accessMode: ReadWriteMany
  storageclass_rwx_volumeSnapshotClassName: ceph-filesystem
  storageclass_rwo_name: ceph-block-ssd
  storageclass_rwo_accessMode: ReadWriteOnce  
  storageclass_rwo_volumeSnapshotClassName: ceph-block
