apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: funkypenguin.co.nz
  namespace: ghost
spec:
  routes:
    - match: Host(`funkypenguin.co.nz`)
      kind: Rule
      services:
        - name: ghost
          kind: Service
          port: 8080
  tls:
    secretName: funkypenguin.co.nz-tls