cluster_nic_class_c: 10.0.42
dns_domain: elfhosted.com
k8s_ha_api_ip: 10.0.40.4
k8s_ha_api_port: 6443
flux_repo_branch: main
authentik_login_background: https://images.unsplash.com/photo-1608096275182-337284e623bd?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=karsten-winegeart-qbadM0DNF8Y-unsplash.jpg
pod_cidr_v4: 10.2.0.0/15
service_cidr_v4: 10.43.0.0/16 # this is also the k3s default
pod_cidr_v6: fd00::/104
k3s_node_taint: node-role.kubernetes.io/control-plane=true:NoSchedule

firewall:
  admin_source: "{{ vault_admin_source }}"