{% if cluster_ip is defined and cluster_ip %}
node-ip: {{ cluster_ip }}
{% else %}
node-ip: {{ ansible_host }}
{% endif %}
prefer-bundled-bin: true
kubelet-arg:
- "config=/etc/rancher/k3s/kubelet-server.config"
